<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- Define which command should be available in the Gerrit Dashboard connector
 -->

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.egit.ui.GitCategory"
            class="org.eclipse.egerrit.internal.dashboard.ui.views.GerritTableView"
            icon="icons/view16/EGerritcolor16.png"
            id="org.eclipse.egerrit.dashboard.ui.views.GerritTableView"
            name="%view.name">
      </view>

 
   </extension>
   <extension
         point="org.eclipse.ui.menus">

 <!-- Lets hold it for later JB Jan 24, 2014
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.eclipse.ui.contributions.toolbars.GerritDashboard"
                label="Gerrit Dashboard">
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.selectCurrentGerrit"
                icon="icons/view16/EGerritcolor16.png"
                id="org.eclipse.egerrit.dashboard.dropdown.toolbar.initiateGerrit"
                label="Gerrit Dashboard"
                style="pulldown">
          </command>
         <separator
                  name="additions"
                  visible="false">
            </separator>
        </toolbar>
      </menuContribution>
 -->
	<!-- Add the menu item to the Gerrit Dashboard pulldown menu -->
      <menuContribution
            locationURI="menu:org.eclipse.egerrit.dashboard.dropdown.toolbar.initiateGerrit">
          <dynamic
                class="org.eclipse.egerrit.internal.dashboard.ui.menus.DynamicMenuAddition"
                id="org.eclipse.egerrit.dashboard.ui.dynamic1">
          </dynamic>
          <separator
                name="additions"
                visible="true">
          </separator>
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.addGerritSite"
                id="Search.gerritSite"
                label="%command.addRepository"
                style="push">
          </command>
      </menuContribution>
           
   	<!-- Define the toolbar menu for Gerrit Dashboard UI "with pulldown menu"-->
      <menuContribution
            locationURI="toolbar:org.eclipse.egerrit.dashboard.ui.views.GerritTableView?after=additions">
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.selectCurrentGerrit"
                icon="icons/view16/repository-middle.gif"
                id="org.eclipse.egerrit.dashboard.dropdown.toolbar.initiateGerrit"
                label="%command.title"
                style="pulldown">
          </command>

          <command
                commandId="org.eclipse.egerrit.dashboard.ui.allOpenReviews"
                id="org.eclipse.egerrit.dashboard.dropdown.toolbar.AddAllOpenReviews"
                label="%command.all"
                style="pulldown"
                tooltip="%command.tooltipAllOpen">
          </command>
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.myChanges"
                id="org.eclipse.egerrit.dashboard.dropdown.toolbar.MyChanges"
                label="%command.my"
                style="pulldown"
                tooltip="%command.tooltipMyChanges">
          </command>
 
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.documentationSearching"
                id="org.eclipse.egerrit.dashboard.dropdown.toolbar.Documentation"
                label="%command.documentation"
                style="pulldown"
                tooltip="%command.tooltipDocumentation">
          </command>

      </menuContribution>

	<!-- Add sub-menu for the All menu
	-->
       <menuContribution
            locationURI="menu:org.eclipse.egerrit.dashboard.dropdown.toolbar.AddAllOpenReviews">
         <command
               	commandId="org.eclipse.egerrit.dashboard.ui.allOpenReviews"
               	id="org.eclipse.egerrit.dashboard.dropdown.toolbar.addOpenReviews"
               	label="%command.open"
               	style="push"
               	tooltip="%command.tooltipOpen">
         </command>
         <command
               	commandId="org.eclipse.egerrit.dashboard.ui.allMergedReviews"
               	id="org.eclipse.egerrit.dashboard.ui.allMergedReviews"
               	label="%command.merged"
               	style="push"
               	tooltip="%command.tooltipMerged">
         </command>
         <command
	            commandId="org.eclipse.egerrit.dashboard.ui.allAbandonedReviews"
	            id="org.eclipse.egerrit.dashboard.ui.allAbandonedReviews"
	            label="%command.abandoned"
	            style="push"
	            tooltip="%command.tooltipAbandoned">
         </command>


         <separator
                name="additions"
                visible="true">
         </separator>
      </menuContribution>
   	<!-- Add sub-menu for the My menu
	-->
       <menuContribution
            locationURI="menu:org.eclipse.egerrit.dashboard.dropdown.toolbar.MyChanges">
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.myChanges"
                id="org.eclipse.egerrit.dashboard.dropdown.toolbar.myChanges"
                label="%command.changes"
                style="push"
                tooltip="%command.tooltipChanges">
          </command>
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.myDrafts"
                id="org.eclipse.egerrit.dashboard.ui.myDrafts"
                label="%command.drafts"
                style="push"
                tooltip="%command.tooltipDrafts">
          </command>
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.myDraftComments"
                id="org.eclipse.egerrit.dashboard.ui.myDraftComments"
                label="%command.draftComment"
                style="push"
                tooltip="%command.tooltipDraftComment">
          </command>
         <command
                commandId="org.eclipse.egerrit.dashboard.ui.myWatchedChanges"
                id="org.eclipse.egerrit.dashboard.ui.myWatchedChanges"
                label="%command.watchChanges"
                style="push"
                tooltip="%command.tooltipWatchChanges">
         </command>
         <command
            	commandId="org.eclipse.egerrit.dashboard.ui.myStarredChanges"
            	id="org.eclipse.egerrit.dashboard.ui.myStarredChanges"
            	label="%command.starred"
            	style="push"
            	tooltip="%command.tooltipStarred">
         </command>
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.myRecentlyClosedReviewsChanges"
                id="org.eclipse.egerrit.dashboard.dropdown.toolbar.myRecentlyClosedReviewsChanges"
                label="%command.recentlyclosedreviewschanges"
                style="push"
                tooltip="%command.tooltipRecentlyClosedReviewsChanges">
          </command>         

         <separator
                name="additions"
                visible="true">
         </separator>
      </menuContribution>


    <!-- Add sub-menu for the Documentation menu
	-->
       <menuContribution
            locationURI="menu:org.eclipse.egerrit.dashboard.dropdown.toolbar.Documentation">
         <command
               commandId="org.eclipse.egerrit.dashboard.ui.documentationSearching"
               id="org.eclipse.egerrit.dashboard.dropdown.toolbar.documentationSearching"
               label="%command.documemtSearching"
               style="push"
               tooltip="%command.tooltipDocumentSearching">
         </command>


         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.egerrit.dashboard.ui.ChangeDetail">
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.patchsets"
                label="Patchsets"
                style="pulldown">
          </command>
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.download"
                id="org.eclipse.egerrit.dashboard.ui.download"
                label="Download"
                style="pulldown">
          </command>
       </menuContribution>
<!-- If we want to put a menu pulldown at the end of the table toolbar
       <menuContribution
             allPopups="false"
             locationURI="menu:org.eclipse.egerrit.dashboard.ui.views.GerritTableView">
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.checkout"
                id="org.eclipse.egerrit.dashboard.ui.checkout"
                label="Checkout"
                style="radio">
          </command>
       </menuContribution>
-->
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.egerrit.dashboard.contextMenu">
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.openCompare"
                id="org.eclipse.egerrit.dashboard.ui.openCompare"
                label="%command.name.openCompare"
                style="push"
                tooltip="%command.tooltipOpenCompare">
          </command>
          <separator
                name="additions"
                visible="true">
          </separator>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.egerrit.dashboard.contextMenu">
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.submit"
                id="org.eclipse.egerrit.dashboard.ui.submit"
                label="%command.name.submit"
                style="push"
                tooltip="%command.tooltipSubmit">
          </command>
       </menuContribution>
              <menuContribution
             allPopups="true"
             locationURI="popup:org.eclipse.egerrit.dashboard.contextMenu">
          <menu
                id="org.eclipse.egerrit.dashboard.ui.replyMenu"
                label="%command.name.reply.toplevel">
             <command
                commandId="org.eclipse.egerrit.dashboard.ui.replyDialog"
                id="org.eclipse.egerrit.dashboard.ui.replyCommand"
                label="%command.name.reply"
                style="push"
                tooltip="%command.tooltipReply">
             </command>
             <command
                commandId="org.eclipse.egerrit.dashboard.ui.replyHandlerPlus2"
                id="org.eclipse.egerrit.dashboard.ui.replyHandlerPlus2"
                label="%command.name.replyPlus2"
                style="push"
                tooltip="%command.tooltipReplyPlus2">
             </command>
          </menu>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.egerrit.dashboard.contextMenu">
          <command
                commandId="org.eclipse.egerrit.dashboard.ui.rebase"
                id="org.eclipse.egerrit.dashboard.ui.rebase"
                label="%command.name.rebase"
                style="push"
                tooltip="%command.tooltipRebase">
          </command>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.egerrit.dashboard.contextMenu">
           <menu
                id="org.eclipse.egerrit.dashboard.ui.downloadMenu"
                label="%command.name.download">
             <command
                commandId="org.eclipse.egerrit.dashboard.ui.cherryPick"
                id="org.eclipse.egerrit.dashboard.ui.cherryPick"
                label="%command.name.cherryPick"
                style="push"
                tooltip="%command.tooltipCherryPick">
             </command>
            <command
                commandId="org.eclipse.egerrit.dashboard.ui.checkout"
                id="org.eclipse.egerrit.dashboard.ui.checkout"
                label="%command.name.checkout"
                style="push"
                tooltip="%command.tooltipCheckout">
             </command>
          </menu>
       </menuContribution>
  </extension>
   
 <!--
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
 -->
   <extension
         point="org.eclipse.ui.commands">

      <command
            id="org.eclipse.egerrit.dashboard.ui.selectCurrentGerrit"
            name="%command.name.selectCurrent">
            <commandParameter
                 id="org.eclipse.egerrit.dashboard.ui.selectCurrentGerrit.serverId" name="ServerId">
            </commandParameter>
      </command>

      <command
            id="org.eclipse.egerrit.dashboard.ui.fixupTableDefault"
            name="%command.name.fixupTableDefault">
      </command>
      <command
            id="org.eclipse.egerrit.dashboard.ui.addGerritSite"
            name="%command.name.addRepository">
      </command>
      <command

            id="org.eclipse.egerrit.dashboard.refresh"
            name="refresh">
      </command>
         <!-- The following are the commands under the "All" sub-menu
         -->
       <command
            	id="org.eclipse.egerrit.dashboard.ui.allOpenReviews"
            	name="%command.name.allOpen">
      </command>
       <command
            	id="org.eclipse.egerrit.dashboard.ui.allMergedReviews"
            	name="%command.name.allMerged">
      </command>
       <command
            	id="org.eclipse.egerrit.dashboard.ui.allAbandonedReviews"
            	name="%command.name.allAbandonned">
      </command>

         <!-- The following are the commands under the "My" sub-menu
         -->
       <command
            	id="org.eclipse.egerrit.dashboard.ui.myChanges"
            	name="%command.name.myChanges">
      </command>
       <command
            	id="org.eclipse.egerrit.dashboard.ui.myDrafts"
            	name="%command.name.myDraftsChanges">
      </command>
       <command
            	id="org.eclipse.egerrit.dashboard.ui.myWatchedChanges"
            	name="%command.name.myWatchedChanges">
      </command>
       <command
            	id="org.eclipse.egerrit.dashboard.ui.myStarredChanges"
            	name="%command.name.myStarredChanges">
      </command>
       <command
            	id="org.eclipse.egerrit.dashboard.ui.myRecentlyClosedReviewsChanges"
            	name="%command.name.myrecentlyclosedreviewschanges">
      </command>
       <command
            	id="org.eclipse.egerrit.dashboard.ui.myDraftComments"
            	name="%command.name.myDraftsCommentsChanges">
      </command>


         <!-- The following are the commands under the "Documentation" sub-menu
         -->
       <command
             	id="org.eclipse.egerrit.dashboard.ui.documentationSearching"
             	name="%command.name.documentSearching">
      </command>

          <!-- The following are the commands under the "Review TableList" sub-menu
         -->
       <command
            	id="org.eclipse.egerrit.dashboard.ui.adjustMyStarred"
            	name="%command.name.starReview">
       </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">

      <handler
            class="org.eclipse.egerrit.internal.dashboard.ui.commands.FixupTableDefaultHandler"
            commandId="org.eclipse.egerrit.dashboard.ui.fixupTableDefault">
      </handler>
      <handler
            class="org.eclipse.egerrit.internal.dashboard.ui.commands.AddGerritSiteHandler"
            commandId="org.eclipse.egerrit.dashboard.ui.addGerritSite">
      </handler>
      <handler
            class="org.eclipse.egerrit.internal.dashboard.ui.RefreshDashboardHandler"
            commandId="org.eclipse.egerrit.dashboard.refresh">
      </handler>
      <handler
            class="org.eclipse.egerrit.internal.dashboard.ui.commands.SelectReviewSiteHandler"
            commandId="org.eclipse.egerrit.dashboard.ui.selectCurrentGerrit">
      </handler>

         <!-- The following are the handlers under the "All" sub-menu
         -->
		 <handler
		    	class="org.eclipse.egerrit.internal.dashboard.ui.commands.all.AllOpenReviewsHandler"
		    	commandId="org.eclipse.egerrit.dashboard.ui.allOpenReviews">
		  </handler>
		  <handler
		    	class="org.eclipse.egerrit.internal.dashboard.ui.commands.all.AllMergedReviewsHandler"
		    	commandId="org.eclipse.egerrit.dashboard.ui.allMergedReviews">
		  </handler>
		  <handler
		    	class="org.eclipse.egerrit.internal.dashboard.ui.commands.all.AllAbandonedReviewsHandler"
		    	commandId="org.eclipse.egerrit.dashboard.ui.allAbandonedReviews">
		  </handler>
          <!-- The following are the handlers under the "My" sub-menu
         -->
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.my.MyChangesReviewsHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.myChanges">
	      </handler>
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.my.MyDraftsReviewsHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.myDrafts">
	      </handler>
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.my.MyWatchedChangesReviewsHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.myWatchedChanges">
	      </handler>
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.my.MyStarredChangesReviewsHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.myStarredChanges">
	      </handler>
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.my.MyDraftCommentsReviewsHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.myDraftComments">
	      </handler>
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.my.MyRecentlyClosedChangesReviewsHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.myRecentlyClosedReviewsChanges">
	      </handler>	      
          <!-- The following are the handlers under the "Documentation" sub-menu
         -->
	      <handler
             	class="org.eclipse.egerrit.internal.dashboard.ui.commands.documentation.SearchingHandler"
             	commandId="org.eclipse.egerrit.dashboard.ui.documentationSearching">
	      </handler>

	     <!-- The following are the handlers under the "Table review list" sub-menu
         -->

	      <!-- Open Compare editor sub-menu-->
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.table.OpenCompareHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.openCompare">
	      </handler>

	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.table.AdjustMyStarredHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.adjustMyStarred">
	      </handler>

	      <!-- Checkout sub-menu-->
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.table.CheckoutRevisionHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.checkout">
	      </handler>

	      <!-- CherryPick sub-menu-->
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.table.CherryPickHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.cherryPick">
	      </handler>

	      <!-- Rebase sub-menu-->
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.table.RebaseHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.rebase">
	      </handler>

		<!-- Reply dialog open -->
	      <handler
				class="org.eclipse.egerrit.internal.dashboard.ui.commands.table.ReplyDialogHandler" 
				commandId="org.eclipse.egerrit.dashboard.ui.replyDialog">
       </handler>

		<!-- Reply Plus 2 -->
	      <handler
				class="org.eclipse.egerrit.internal.dashboard.ui.commands.table.ReplyPlusTwoHandler" 
				commandId="org.eclipse.egerrit.dashboard.ui.replyHandlerPlus2">
       </handler>

	      <!-- Submit sub-menu-->
	      <handler
	            class="org.eclipse.egerrit.internal.dashboard.ui.commands.table.SubmitHandler"
	            commandId="org.eclipse.egerrit.dashboard.ui.submit">
	      </handler>

   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.egerrit.internal.dashboard.ui.preferences.GerritDashboardPreferencePage"
            id="org.eclipse.egerrit.dashboard.ui.preferences.GerritDashbardPreferencePage"
            category="org.eclipse.team.ui.TeamPreferences"
            name="Gerrit Servers">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.egerrit.dashboard.ui.fixupTableDefault"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
</plugin>
