<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.egerrit.internal.ui.editors.ChangeDetailEditor"
            default="false"
            extensions="mpe"
            icon="icons/EGerritcolor16.png"
            id="org.eclipse.egerrit.ui.editors.ChangeDetailEditor"
            name="ChangeDetail Editor">
      </editor>
   </extension>
   <extension
         id="org.eclipse.egerrit.ui.commentMarker"
         name="Gerrit comment"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false" />
      <attribute
            name="commentInfo">
      </attribute>
      <attribute
            name="fileInfo">
      </attribute>
      <attribute
            name="isDraft">
      </attribute>
      <attribute
            name="gerritClient">
      </attribute>
   </extension>

   <extension
        point="org.eclipse.ui.editors.annotationTypes">
        <type
            name="org.eclipse.egerrit.ui.commentAnnotation"
            markerType="org.eclipse.egerrit.ui.commentMarker"
            />
    </extension>

    <extension
        point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
              symbolicIcon="warning"
              quickFixIcon="icons/showAnonymousComments.gif"
        	  icon="icons/showAnonymousComments.gif"
              annotationType="org.eclipse.egerrit.ui.commentAnnotation"
              colorPreferenceKey="org.egerrit.ui.comment.color"
              colorPreferenceValue="30,144,255"
              contributesToHeader="true"
              highlightPreferenceKey="org.egerrit.ui.comment.highlight"
              highlightPreferenceValue="false"
              includeOnPreferencePage="true"
              isGoToNextNavigationTarget="true"
              isGoToNextNavigationTargetKey="org.egerrit.ui.comment.next"
              isGoToPreviousNavigationTarget="true"
              isGoToPreviousNavigationTargetKey="org.egerrit.ui.comment.previous"
              label="%egerrit.marker.specification.label"
              overviewRulerPreferenceKey="org.egerrit.ui.comment.overviewruler"
              overviewRulerPreferenceValue="true"
              presentationLayer="4"
              showInNextPrevDropdownToolbarAction="true"
              showInNextPrevDropdownToolbarActionKey="org.egerrit.ui.comment.dropdown"
              textPreferenceKey="org.egerrit.ui.comment.error.text"
              textPreferenceValue="true"
              textStylePreferenceKey="org.egerrit.ui.comment.text.style"
              textStylePreferenceValue="BOX"
              verticalRulerPreferenceKey="org.egerrit.ui.comment.verticalruler"
              verticalRulerPreferenceValue="true"/>
  </extension>

  
  <extension point="org.eclipse.ui.ide.markerResolution">
	<markerResolutionGenerator
       markerType="org.eclipse.egerrit.ui.commentMarker"
       class="org.eclipse.egerrit.internal.ui.editors.QuickFixer"/>
   </extension>

<extension point="org.eclipse.ui.menus">
<menuContribution
    class="org.eclipse.egerrit.internal.ui.editors.MarkerContributionFactory"
    locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
  <dynamic
         class="org.eclipse.egerrit.internal.ui.editors.MarkerMenuContribution"
         id="org.eclipse.egerrit.ui.editors.MarkerMenuContribution">
  </dynamic>
</menuContribution>
</extension>

<extension
         point="org.eclipse.ui.commands">
         <command
	            id="org.eclipse.egerrit.internal.ui.compare.selectLeftPatchSet"
	            categoryId="org.eclipse.compare.ui.category.compare"
	            name="%nextLeftPatchset">
	      </command>
          <command
	            id="org.eclipse.egerrit.internal.ui.compare.selectRightPatchSet"
	            categoryId="org.eclipse.compare.ui.category.compare"
	            name="%nextRightPatchset">
	      </command>
          <command
                id="org.eclipse.egerrit.internal.ui.compare.selectNextFile"
                categoryId="org.eclipse.compare.ui.category.compare"
                name="%nextfile">
          </command>	   
          <command
                id="org.eclipse.egerrit.internal.ui.compare.selectPreviousFile"
                categoryId="org.eclipse.compare.ui.category.compare"
                name="%previousfile">
          </command>
          <command
                categoryId="org.eclipse.compare.ui.category.compare"
                id="org.eclipse.egerrit.internal.ui.editors.showNextPatchSet"
                name="%nextPatchset">
          </command>
          <command
                categoryId="org.eclipse.compare.ui.category.compare"
                id="org.eclipse.egerrit.internal.ui.compare.showFilePath"
                name="%showFilePath">
          </command>
          <command
                categoryId="org.eclipse.compare.ui.category.compare"
                id="org.eclipse.egerrit.internal.ui.compare.showCommentedFile"
                name="%showCommentedFile">
          </command>
          <command
                categoryId="org.eclipse.compare.ui.category.compare"
                id="org.eclipse.egerrit.internal.ui.compare.reply"
                name="%reply">
          </command>
          <command
                categoryId="org.eclipse.compare.ui.category.compare"
                id="org.eclipse.egerrit.internal.ui.compare.showReviewEditor"
                name="%showReviewEditor">
          </command>
         <command
               description="%nextCommentDescription"
               id="org.eclipse.egerrit.internal.ui.compare.NextCommentAnnotationHandler"
               name="%nextComment">
         </command>
         <command
               description="%previousCommentDescription"
               id="org.eclipse.egerrit.internal.ui.compare.PreviousCommentAnnotationHandler"
               name="%previousComment">
         </command>
         <command
            id="org.eclipse.egerrit.internal.ui.OpenFileSelection"
            name="%openReviewFiles">
         </command>
</extension>
<extension
       point="org.eclipse.ui.handlers">
	   <handler
	            class="org.eclipse.egerrit.internal.ui.compare.SelectNextPatchSetHandler"
	            commandId="org.eclipse.egerrit.internal.ui.compare.selectLeftPatchSet">
	   </handler>
	   <handler
	            class="org.eclipse.egerrit.internal.ui.compare.SelectNextPatchSetHandler"
	            commandId="org.eclipse.egerrit.internal.ui.compare.selectRightPatchSet">
	   </handler>
       <handler
                class="org.eclipse.egerrit.internal.ui.compare.NextPreviousFileHandler"
                commandId="org.eclipse.egerrit.internal.ui.compare.selectNextFile">
       </handler>
       <handler
                class="org.eclipse.egerrit.internal.ui.compare.NextPreviousFileHandler"
                commandId="org.eclipse.egerrit.internal.ui.compare.selectPreviousFile">
       </handler>
       <handler
             class="org.eclipse.egerrit.internal.ui.editors.ShowNextPatchSetHandler"
             commandId="org.eclipse.egerrit.internal.ui.editors.showNextPatchSet">
       </handler>
       <handler
             class="org.eclipse.egerrit.internal.ui.compare.ShowFilePathHandler"
             commandId="org.eclipse.egerrit.internal.ui.compare.showFilePath">
       </handler>
       <handler
             class="org.eclipse.egerrit.internal.ui.compare.ReplyHandler"
             commandId="org.eclipse.egerrit.internal.ui.compare.reply">
       </handler>
       <handler
             class="org.eclipse.egerrit.internal.ui.compare.ShowReviewEditorHandler"
             commandId="org.eclipse.egerrit.internal.ui.compare.showReviewEditor">
       </handler>
         <handler
               class="org.eclipse.egerrit.internal.ui.compare.NextPreviousCommentAnnotationHandler"
               commandId="org.eclipse.egerrit.internal.ui.compare.NextCommentAnnotationHandler">
         </handler>
         <handler
               class="org.eclipse.egerrit.internal.ui.compare.NextPreviousCommentAnnotationHandler"
               commandId="org.eclipse.egerrit.internal.ui.compare.PreviousCommentAnnotationHandler">
         </handler>
         <handler
            class="org.eclipse.egerrit.internal.ui.editors.OpenFileSelectionHandler"
            commandId="org.eclipse.egerrit.internal.ui.OpenFileSelection">
         </handler>       
</extension>
<extension
       point="org.eclipse.ui.bindings">
	   <key
	       commandId="org.eclipse.egerrit.internal.ui.compare.selectLeftPatchSet"
	       contextId="org.eclipse.compare.compareEditorScope"
	       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	       sequence="M1+1">
        </key>
	   	   <key
	       commandId="org.eclipse.egerrit.internal.ui.compare.selectRightPatchSet"
	       contextId="org.eclipse.compare.compareEditorScope"
	       schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	       sequence="M1+3">
	   </key>
        <key
              commandId="org.eclipse.egerrit.internal.ui.editors.showNextPatchSet"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+7">
	   </key>
        <key
            commandId="org.eclipse.egerrit.internal.ui.compare.selectNextFile"
            contextId="org.eclipse.compare.compareEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+]">
        </key>
        <key
              commandId="org.eclipse.egerrit.internal.ui.compare.showFilePath"
              contextId="org.eclipse.compare.compareEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+8">
        </key>
        <key
            commandId="org.eclipse.egerrit.internal.ui.compare.selectPreviousFile"
            contextId="org.eclipse.compare.compareEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+[">
        </key>
        <key
              commandId="org.eclipse.egerrit.internal.ui.compare.showCommentedFile"
              contextId="org.eclipse.compare.compareEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+9">
        </key>
        <key
              commandId="org.eclipse.egerrit.internal.ui.compare.reply"
              contextId="org.eclipse.compare.compareEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+0">
        </key>
        <key
              commandId="org.eclipse.egerrit.internal.ui.compare.showReviewEditor"
              contextId="org.eclipse.compare.compareEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+U">
        </key>
       <key
            commandId="org.eclipse.egerrit.internal.ui.OpenFileSelection"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+5">
      </key>
</extension>


</plugin>
