<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.egerrit.internal.rcptt.support.CreateReviewService"
            name="CreateReview"
            namespace="http://www.eclipse.org/egerrit/2016/egerritecl.ecore">
      </scriptlet>

   </extension>

   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.egerrit.internal.rcptt.support.AmendReviewService"
            name="AmendReview"
            namespace="http://www.eclipse.org/egerrit/2016/egerritecl.ecore">
      </scriptlet>

   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated egerritecl -->
      <package
            uri="http://www.eclipse.org/egerrit/2016/egerritecl.ecore"
            class="org.eclipse.egerrit.internal.rcptt.support.egerritecl.egerriteclPackage"
            genModel="model/egerritecl.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.rcptt.ecl.core.scriptlet">
      <scriptlet
            class="org.eclipse.egerrit.internal.rcptt.support.ImportProjectService"
            name="ImportProject"
            namespace="http://www.eclipse.org/egerrit/2016/egerritecl.ecore">
      </scriptlet>
   </extension>

</plugin>
